.body {
  background-color: white;
  color: blue;
}

button {
  color: white;

  transition: 0.2s;
}

button:hover {
  color: black;
}

button:active {
  color:red;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.flex_item {
  width:100px;
  height:100px;
  background-color: #333333;
  color:white;
  order: 0;
}

.flex:last-child {
  order: -1;
}
